
<div class = "text-center" >
  <h1> Welcome to the process of being a Gerard</h1>
  <h3> Your registration is in progress...</h3>
  <p> You will receive an email when you registration will be confirmed</p>
</div>

