

<!-- User data
current_user.email


Customer data
@customer.data -->


<div class="col-xs-6">
  <%= current_user.first_name %>
</div>

<div class="col-xs-6">
  <%= @customer.last_name %>
</div>



<div class="container">
  <h2 class ="text-center">Profile page</h2>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @customer.email %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Phone number:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="pwd" placeholder="Enter a phone number for call the mover">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>

