<h1>Courses</h1>
<div class = "text-center">
  <ul style="list-style-type:none;">
    <% @courses.each do |course| %>
      <li><%= course.kms %> kilometers </li>
      <li><%= course.time %> minutes </li>
      <li><%= humanized_money_with_symbol(course.price) %></li>
      <%= link_to 'Show', course_path(course), class: 'btn btn-primary' %>
      <hr>
    <% end %>
  </ul>
</div>
