<h1>bienvenue dans la course</h1>
<h1>Course Details</h1>
<p>Amount: <%= humanized_money_with_symbol(@course.price) %></p>

<%= form_tag orders_path do %>
  <%= hidden_field_tag 'course_id', @course.id %>
  <%= submit_tag 'Purchase' %>
<% end %>
