
/*Heading1*/
h1{
  color: #fff;
  font-size: 44px;
  margin-top: 40px;
  text-align: center;
}
/*Wrapper*/
.wrapper{
  color: white;
  margin-top: 30px;
  margin-bottom: 200px;
  &-baseline{
    color: white;
    text-align: right;
}
}

/*Vertical Sliding*/
.slidingVertical{
  // display: inline;
  text-indent: 8px;
}
.slidingVertical span{
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  color: #469AE0;
  opacity: 0;
  overflow: hidden;
  position: absolute;

  // background-color:darkorchid;
  // padding-right:9px;
}
.slidingVertical span:nth-child(2){
  animation-delay: 3.5s;
  -ms-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  // background-color:brown;
  // padding-right:9px;
}
.slidingVertical span:nth-child(3){
  animation-delay: 6s;
  -ms-animation-delay: 6s;
  -webkit-animation-delay: 6s;
  // background-color:limegreen;
  // padding-right:9px;
}
.slidingVertical span:nth-child(4){
  animation-delay: 8.5s;
  -ms-animation-delay: 8.5s;
  -webkit-animation-delay: 8.5s;
  // background-color:lightskyblue;
  // padding-right:9px;
}
.slidingVertical span:nth-child(5){
  animation-delay: 11s;
  -ms-animation-delay: 11s;
  -webkit-animation-delay: 11s;
  // background-color:coral;
  // padding-right:9px;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: translateY(-50px); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 1; -moz-transform: translateY(0px); }
  30% { opacity: 0; -moz-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: translateY(-50px); }
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: translateY(-50px); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
